@keyframes extra-time-sliding {
  from { 
    top: 50%;
    opacity: 1;
  }

  to { 
    top: -50%;
    opacity: 0;
  }
}

.hud {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 15px;

  .timer {
    border-radius: 5px;
    font-size: 28px;
    padding: 10px 30px;
    display: flex;
    background-color: #f2f2f2;
    position: relative;

    .extra-time {
      position: absolute;
      right: 5px;
      font-size: 18px;
      font-weight: bold;
      color: green;
      animation-name: extra-time-sliding;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  .progress-bar {
    width: 220px;
    padding-left: 25px;
    display: flex;

    .bar {
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background-color: #ddd;
      align-self: center;

      .progress {
        height: 5px;
        border-radius: 5px;
        background-color: #ea0000;
        transition: all ease-in-out 0.3s;
      }
    }
  }
}
