@import '../fonts/OpenSans/stylesheet.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans Condensed';
}

@import './card.scss';
@import './card-imgs.scss';
@import './deck.scss';
@import './hud.scss';
@import './playground.scss';
