@import '../fonts/Quicksand/stylesheet.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand';
}

@import './card.scss';
@import './card-imgs.scss';
@import './deck.scss';
@import './hud.scss';
@import './playground.scss';
@import './game.scss';
@import './overlay.scss';
